.App {
  width: 100%;
  min-height: 100vh;
}

:root {
  --theme: #337ab7;
  --accent: #f6f8fa;
  --accent2: #e1e4e8;
  --success: #28a745;
  --error: #d73a49;
}

a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
