.home {
  height: 95%;
  padding: 3em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createTicket {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.ticketHeader {
  display: flex;
  align-items: flex-end;
}

.createTicket > form {
  margin-top: 1em;
}

.createTicket .MuiInputBase-root {
  margin: 0.5em 0;
}

.createTicket .MuiButton-root {
  background-color: var(--theme);
  color: white;
}

.myTickets {
  width: 70%;
}
.myTickets > h2 {
  margin: 1em 0;
}
