.home {
  padding: 3em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.userHome {
  width: 100%;
}

.createTicket {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ticketCreateHeader {
  display: flex;
  align-items: flex-end;
}
.ticketCreateHeader > h2 {
  margin-right: 0.5em;
}

.ticketCreateHeader > .MuiSvgIcon-root {
  color: var(--theme);
}

.createTicket > form {
  margin-top: 1em;
}

.createTicket .MuiInputBase-root {
  margin: 0.5em 0;
}

.createTicket .MuiButton-root {
  background-color: var(--theme);
  color: white;
}

.myTickets {
  width: 100%;
}
.myTickets > h2 {
  margin: 1em 0;
}
