.signup {
  display: flex;
  flex-direction: column;
  margin: 3em auto 0 auto;
  padding: 2em 1em 2em 1em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80%;
  max-width: 600px;
}

.signup > h2 {
  padding-bottom: 0.5em;
  font-size: 3rem;
  padding-left: 0.25em;
}
.signup > p {
  padding-bottom: 1em;
  padding-left: 1em;
}

.signup form {
  display: grid;
  grid-template-columns: repeat(2, minmax(125px, 1fr));
  gap: 1em;
  margin: 0 1em;
}

.signup .MuiButton-root {
  background-color: var(--theme);
  color: white;
  margin: 2em 0;
}

.signup a:link,
.signup a:visited {
  color: var(--theme);
}

.formFields label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .signup {
    width: 100%;
    box-shadow: none;
  }
  .signup form {
    grid-template-columns: 1fr;
  }
}
