.signup {
  display: flex;
  flex-direction: column;
  margin: 3em auto 0 auto;
  padding: 2em 1em 2em 1em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 70%;
  height: 70vh;
  max-width: 600px;
}

.signup > h2 {
  padding-bottom: 0.5em;
  font-size: 3rem;
  padding-left: 0.25em;
}
.signup > p {
  padding-bottom: 1em;
  padding-left: 1em;
}

.formFields {
  margin: 1em;
  width: 100%;
}

.signup form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.signup .MuiButton-root {
  background-color: var(--theme);
  color: white;
  margin: 2em 1em 2em 1em;
}

.signup a:link,
.signup a:visited {
  color: var(--theme);
}

.formFlex {
  display: flex;
  align-items: center;
  width: 100%;
}

@media (max-width: 600px) {
  .signup {
    width: 100%;
  }
}
