.ticketSidebar {
  flex: 0.2;
}

.sidebarBox {
  margin: 1em 1em;
  border-bottom: 1px solid var(--accent2);
}

.sidebarBoxHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebarBoxHeader > h3 {
  font-weight: 500;
  color: grey;
}

.dropdownMenu {
  width: 150px;
  top: 20px;
  background-color: white;
  position: absolute;
  border: 1px solid var(--accent);
}

.sidebarBoxContent {
  display: flex;
  flex-wrap: wrap;
}

.label {
  display: flex;
  padding: 0.25em 0.5em;
  color: white;
  background-color: var(--theme);
  margin: 0.5em 1em 0.5em 0;
  border-radius: 2em;
  font-size: 0.75rem;
  align-items: center;
}

@media (max-width: 600px) {
  .label {
    width: min-content;
  }
}
