.ticket {
  margin-top: 1em;
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  border: 2px solid var(--accent);
}

.ticketPage {
  padding: 3em 3em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
}

.MuiTabs-root {
  background-color: var(--accent);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ticketHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 1em;
  border-bottom: 1px solid#e1e4e8;
  margin-bottom: 1em;
}

.ticketHeader > h1 > span {
  color: grey;
  font-weight: 500;
}
.ticketSubheader {
  display: flex;
  margin-top: 1em;
  align-items: center;
  width: 100%;
}

.ticketSubheader > p {
  margin-left: 0.5em;
}

.ticketSubheader > .MuiButton-root {
  margin-left: auto;
}

.ticketStatus {
  display: flex;
  align-items: center;
  border-radius: 2em;
  padding: 0.5em 1em;
  text-align: center;
  color: white;
}
.open {
  background-color: var(--success);
}

.closed {
  background-color: var(--error);
}

.ticketContent {
  padding-bottom: 1em;
  padding-top: 1em;
  position: relative;
  margin-left: 1em;
}
.last {
  border-bottom: 3px solid #e1e4e8;
}
.ticketContainer {
  margin-left: -1em;
}

.ticketContainer:before {
  display: block;
  content: "";
  background-color: #e1e4e8;
  width: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.ticketContentHeader {
  background-color: #f6f8fa;
  border: 1px solid #e1e4e8;
  position: relative;
  padding: 1em 0 1em 2em;
  border-radius: 10px 10px 0 0;
}
.ticketContentMain {
  padding: 2em;
  background-color: white;
  position: relative;
  border: 1px solid #e1e4e8;
  border-radius: 0 0 10px 10px;
}

.ticketContent textarea {
  width: 100%;
  resize: vertical;
  height: 100%;
  border-radius: 5px;
  font-family: Lato;
  padding: 1em;
}

.commentButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}

.updateContainer {
  display: flex;
  align-items: center;
}
